<%- include('common/header'); -%>
<!-- 独自的css -->
<style>
.card-img-top {
    height: 200px;
}
.card-title {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
</style>
<%- include('common/header-tag'); -%>
<%- include('common/app-header'); -%>

<div class="container-fluid">
    <div class="row">
        <div class="sidebar col-12 col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="content col-12 col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top"
                            src="https://jr.midea.com/supplier/static/img/swiper-1.9d271ec.png"
                            data-video="/mp4/dajin.mp4" />
                        <div class="card-body">
                            <h4 class="card-title">这是电影标题111</h4>
                            <p class="card-desc">这是电影描述</p>
                        </div>
                        <div class="card-footer"><small class="text-muted">1 天前更新</small></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top"
                            src="/images/avator.jpg"
                            data-video="/mp4/dianying.mp4" />
                        <div class="card-body">
                            <h4 class="card-title">这是电影标题</h4>
                            <p class="card-desc">这是电影描述</p>
                        </div>
                        <div class="card-footer"><small class="text-muted">1 天前更新</small></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top"
                            src="/images/avator.jpg"
                            data-video="/mp4/dianying.mp4" />
                        <div class="card-body">
                            <h4 class="card-title">这是电影标题</h4>
                            <p class="card-desc">这是电影描述</p>
                        </div>
                        <div class="card-footer"><small class="text-muted">1 天前更新</small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 视频播放弹窗 -->
<div id="my-modal" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div id="video-modal" class="modal-content"></div>
    </div>
</div>

<%- include('common/footer-script'); -%>
<!-- 独自的js -->
<script src="/lib/dplayer-1.26.0/DPlayer.min.js"></script>
<script>
$(() => {
    var dp = null;

    // 弹窗消失的时候，然视频暂停
    $('#my-modal').on('hidden.bs.modal', (e) => {
        if (dp) {
            dp.pause();
        }
    });

    $('.card').click(function () {
        var video = $(this).find('img').data('video');
        var image = $(this).find('img').data('src');
        $('#my-modal').modal('show');

        var videoParams = {
            url: video,
            pic: image,
            thumbnails: image
        };
        if (!dp) {
            dp = new DPlayer({
                container: document.getElementById('video-modal'),
                screenshot: true,
                video: videoParams,
            });
        } else {
            // 如果要播放url和DPlay上的url不一致，才要做切换视频的动作
            if (dp.video.currentSrc !== videoParams.url) {
                dp.switchVideo(videoParams);
            }
        }
    });
});
</script>
<%- include('common/footer'); -%>